
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #ff00ff 0%, #7700ff 100%);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

header .logo {
  font-size: 1.2rem;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
}
#w{
  margin-top: 20px;
  width: 150px;
  background-color: rgb(101, 97, 97);
}
#h{
  margin-right: 200px;
}
header nav ul li a {
  color: black;
  display: block;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
  font-weight: 600;
  font-size: larger;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.form-container {
  background-color: transparent;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  color: black;
  text-align: center;
 
}

h2 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(187,0,254);
  text-shadow: 1px 1px rgba(218, 55, 196, 0.8);
}

form input {
  width: 93%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 35px;
  background-color: #000000;
  color: rgba(218, 55, 196, 0.5);
  border: 3px solid rgb(187,0,254);
  
}

form button {
  width: 50%;
  padding: 10px;
  background-color: rgb(187,0,254);
  color: white;
  border-radius: 35px;
  font-size: 1rem;
  cursor: pointer;
}
#w{
  width: 20%;
  padding: 10px;
  background-color: rgb(187,0,254);
  color: white;
  border-radius: 35px;
  font-size: 1rem;
  cursor: pointer;
}
form button:hover {
  background-color: rgb(255, 45, 227);
  border: 2px solid rgba(218, 55, 196, 0.2);
  color: white;
  
}

form p {
  margin-top: 15px;
  color:rgb(187,0,254);
}

form p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  header {
      padding: 10px 20px;
  }

  .form-container {
      padding: 20px;
  }

  h2 {
      font-size: 1.5rem;
  }

  form input {
      padding: 8px;
  }

  form button {
      padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  header nav ul {
      flex-direction: column;
      align-items: flex-start;
  }

  header nav ul li {
      margin: 10px 0;
  }
}

li:hover{
  background-color: rgba(218, 55, 196,0.2);
}
#w:hover {
  background-color: rgb(255, 45, 227);
  border: 2px solid rgba(218, 55, 196, 0.2);
  color: white;
}
input:hover{
  box-shadow: 5px 5px 3px rgb(187,0,254,0.5);
}
::placeholder{
  color: rgb(187,0,254,0.5);
  font-size: 18px;
}
